body {
	font-family: 'Poppins';
}

label {
	font-weight: bold;
	font-size: 17px;
}

.nostyle:hover,
.nostyle:focus,
.nostyle:visited,
.nostyle {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

.full-width {
	width: 100%;
}

.login-box-wrap {
	box-shadow: 0px 2px 6px rgba(0,0,0,0.19);
	max-width: 600px;
	width: 100%;
	min-height: 365px;
	height: auto;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.reset-box-wrap {
	box-shadow: 0px 2px 6px rgba(0,0,0,0.19);
	max-width: 600px;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.signup-box-wrap {
	box-shadow: 0px 2px 6px rgba(0,0,0,0.19);
	max-width: 900px;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.login-box {
	width: 100%;
	height: 100%;
	padding: 40px;
	text-align: center;
	position: relative;
}

.login-img {
	width: 162px;
	height: auto;
}

.btn-neutral {
	margin-top: 10px;
	border: 1px solid #b4b4b4;
}

.login-container {
	display: flex;
	height: calc(100vh - 16px);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn-lime {
	background-color: #BCFC07;
}

.btn-lime:hover,
.btn-lime:focus {
	color: #111;
	border: 1px solid #BCFC07;
	background-color: #BCFC07;
}

.checker-top {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 38.2vh;
	background-color: #e44b40;
}

.checker-bottom {
	display: block;
	position: absolute;
	top: 38.2vh;
	left: 0;
	width: 100%;
	height: 61.8vh;
	background-color: #000;
}

.signup-container {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-form-wrap {
	margin-top: 30px;
	width: 100%;
	text-align: left;
	z-index: 2;
	position: relative;
}

.login-form {
	margin-top: 15px;
	width: 100%;
}

.login-footer {
	margin-top: 15px;
	max-width: 100%;
	width: 400px;
	height: 22px;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.login-footer span {
	color: #ff2d2e;
	cursor: pointer;
}

.signup-footer {
	margin-top: 5px;
	max-width: 100%;
	width: 400px;
	height: 22px;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #fff;
}

.signup-footer span {
	color: #fff;
	cursor: pointer;
}

.mb5 {
	margin-bottom: 5px;
}

.transform-uppercase {
	text-transform: uppercase;
}

label {
	margin-bottom: 2px;
}

.ajax-box {
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(247, 251, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: #ff2d2e;
	font-weight: bold;
}

.forgot-password-img {
	width: 114px;
	height: auto;
}

.check-circle img {
	width: 13px;
	height: 13px;
	margin-right: 5px;
}

.check-circle-active {
	color: #009C34;
}
