.animate__delay-0-5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animate__delay-1-5s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animate__delay-6s {
  animation-delay: calc(0.6s);
}

.animate__delay-7s {
  animation-delay: calc(0.7s);
}

.animate__delay-8s {
  animation-delay: calc(0.8s);
}

.animate__delay-9s {
  animation-delay: calc(0.9s);
}

.animate__delay-10s {
  animation-delay: calc(1s);
}

.animate__fastest {
  animation-duration: 0.1s;
}

.remove-animation {
  animation-name: none !important;
}
