:root {
  --animate-delay: 0.1s;
}

@for $i from 6 through 10 {
  .animate__delay-#{$i}s {
    animation-delay: calc(var(--animate-delay) * #{$i});
  }
}

.remove-animation {
  animation-name: none !important;
}
