.ck {
  .ck-editor {
    display: flex;
  }
  .ck-toolbar {
    background-color: #F0F0F0 !important;
    height: 5rem !important;
    padding: 0 3rem !important;
  }
  .ck-editor__editable {
    padding: 1.25rem !important;
    min-height: 17rem;
  }
  .ck-button {
    color: #9A9A9A !important;
  }
}

.ck-editor-reverse {
  .ck-editor {
    display: flex;
    flex-direction: column-reverse;
  }
  .ck-toolbar {
    border: 0;
  }
}

@media (max-width: 1024px) { 
  .ck-editor {
    display: flex;
    flex-direction: column-reverse;
  }
  .ck-toolbar {
    border: 0;
  }
}
