@media all and (max-width: 1023px) {
  #app-header-button {
    width: 10rem !important;
  }
}
.table-header {
  padding-right: 8px;
}
.z-100 {
  z-index: 100;
}
.z-111 {
  z-index: 111;
}
.custom-container {
  width: 1190px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.custom-highlight {
  background-color: rgba(255, 71, 62, 1) !important;
  color: white;
  border-radius: 1rem;
}
#user-detail-headerSection {
  display: flex;
  .block-access-wrap {
    margin-left: auto;
    margin-right: 0;
    .block-access-item {
      display: flex;
      flex-direction: column;
      width: 100px;
      &.last {
        width: auto;
      }
      > span {
        margin-bottom: 4px;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    .block-access-wrap {
      margin-left: 0;
      padding-bottom: 1rem;
    }
  }
}
.admin-perks-page {
  width: 100%;
  min-height: calc(100vh - 7.625rem);
}
.onboard-stepper-block {
  @media all and (max-width: 1023px) {
    .onboard-stepper-blockButtons {
      display: flex;
      margin-top: 50px;
      button {
        text-align: center;
        img {
          width: 52px;
          margin: 0 auto;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

#landing-page__onboard {
  @media all and (max-width: 1023px) {
    .custom-progress-bar {
      border-top: 1px solid black !important;
      margin-bottom: 2.5rem;
    }
    .custom-onboard-item {
      width: 364px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      p.text-2xl {
        padding-top: 10px;
      }
    }
  }
}

#custom-nav-wrap {
  position: relative;
  z-index: 100;
  min-height: 148px;
  #custom-nav-burger {
    display: none;
  }
  #custom-nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 60px 15px;
    background-color: rgb(81, 14, 10);
    box-shadow: 0px 1px 4px #00000010;
    &.sticky {
      padding: 25px 15px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background-color: #C52E28;
    }
    > ul {
      li {
        a {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  @media all and (max-width: 991px) {
    min-height: auto;
    #custom-nav-burger {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      > div {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    #custom-nav-bar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
      margin-top: 50px !important;
      padding: 0 !important;
      &.active {
        display: block;
      }
      &.sticky {
        padding: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: transparent;
      }
      > ul {
        display: block !important;
        background: #eee !important;
        color: rgba(166, 3, 4, 1) !important;
        li {
          border-bottom: 1px solid rgba(166, 3, 4, 0.3);
          padding: 10px 1rem;
          > a {
            display: block;
          }
        }
      }
    }
  }
}

#landing-page__faq {
  #landing-page__faqTitle {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    h1 {
      font-size: 50px;
    }
    @media all and (max-width: 991px) {
      padding-top: 50px;
      padding-bottom: 30px;
      h1 {
        font-size: 40px;
      }
    }
    @media all and (max-width: 767px) {
      h1 {
        font-size: 30px;
      }
    }
  }
  #landing-page__faqBody {
    width: 100%;
    padding-bottom: 100px;
    #landing-page__faqGhost {
      width: 100%;
      height: 1px;
    }
    #landing-page__faqContent {
      width: 100%;
      box-shadow: 0px 3px 6px #00000029;
      background-color: white;
      margin-top: -60px;
      padding: 40px;
      @media all and (max-width: 767px) {
        padding: 1rem;
      }
      .c-faq-item {
        width: 100%;
        .c-faq-itemQuestion {
          display: flex;
          align-items: flex-start;
          background-color: #F9F9F9;
          width: 100%;
          > span {
            width: 4px;
            height: 60px;
            background: #E62222;
          }
          > h3 {
            font-size: 45px;
            font-weight: 500;
            color: #E62222;
            line-height: 1;
            margin: 0 40px 0 0;
            padding: 0;
            width: 74px;
            height: 60px;
            text-align: center;
            line-height: 60px;
          }
          > p {
            width: calc(100% - 118px);
            font-size: 16px;
            font-weight: 500;
            color: #303030;
            padding-top: 18px;
            padding-bottom: 18px;
          }
          @media all and (max-width: 767px) {
            > h3 {
              font-size: 35px;
              margin: 0 10px 0 0;
            }
            > p {
              width: calc(100% - 88px);
            }
          }
        }
        .c-faq-itemAnswer {
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding-bottom: 18px;
          > span {
            width: 4px;
            height: 60px;
            background: #9F9F9F;
          }
          > h3 {
            font-size: 45px;
            font-weight: 500;
            color: #9F9F9F;
            line-height: 1;
            margin: 0 40px 0 0;
            padding: 0;
            width: 74px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            @media all and (max-width: 767px) {
              font-size: 35px;
              margin: 0 10px 0 0;
            }
          }
          .c-faq-itemAnswerDetails {
            width: calc(100% - 118px);
            padding-top: 14px;
            @media all and (max-width: 767px) {
              width: calc(100% - 88px);
            }
            p {
              flex: 1;
              font-size: 16px;
              font-weight: 400;
              color: #8B8B8B;
              line-height: 32px;
            }
            .c-video-wrap {
              position: relative;
              max-width: 500px;
              width: 100%;
              @media all and (max-width: 767px) {
                max-width: 100%;
              }
              .c-video {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;
                iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: block;
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                }
              }
            }
            pre {
              display: block;
              margin: 0;
              padding: 20px;
              background-color: #F5F5F5;
              overflow-x: auto;
              overflow-y: auto;
              code {
                display: block;
                margin: 0;
                padding: 0;
                color: #303030;
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
        }
        hr {
          border-color: #EFEFEF;
        }
      }
    }
    @media all and (max-width: 991px) {
      background: transparent !important;
      #landing-page__faqContent {
        margin-top: 0;
      }
    }
  }
}

#landing-page__home {
  #c-section-tools {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  #landing-page__hero {
    width: 100%;
    position: relative;
    z-index: 1;
    h1 {
      font-size: 74px;
      font-weight: 400;
      line-height: 1.2;
    }
    p {
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 400;
    }
    #landing-page__heroButtons {
      display: flex;
      justify-content: center;
    }
  }
  #landing-page__home__h3Section {
    h3 {
      font-size: 36px;
      line-height: 1.3;
      margin-top: 200px;
      width: 865px;
      max-width: 100%;
    }
    span {
      display: block;
      width: 80px;
      height: 2px;
      background-color: #FF473D;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    p {
      font-size: 16px;
      width: 501px;
      max-width: 100%;
      line-height: 1.7;
    }
  }
  #landing-page__home__h2 {
    font-size: 48px;
    line-height: 1.3;
    margin-top: 50px;
  }
  #landing-page__home__span {
    font-size: 20px;
    display: block;
    margin-top: 40px;
  }
  .custom-text-box {
    .custom-text-box__SVG {
      width: 600px;
      > img {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
    .custom-text-box__Text {
      flex: 1;
      > h2 {
        font-size: 36px;
        margin: 0;
        padding: 0;
        line-height: 1.3;
      }
      > p {
        font-size: 16px;
        line-height: 2;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          margin-top: 5px;
          > span {
            display: block;
            width: 15px;
            height: 3px;
            background-color: #FF473D;
            margin-right: 20px;
          }
        }
      }
    }
  }
  #landing-page__contactWrapper {
    h2 {
      font-size: 36px;
      margin-bottom: 80px;
    }
    #landing-page__contact {
      margin-bottom: 300px;
    }
  }
  @media all and (max-width: 1023px) {
    .custom-text-box {
      display: block !important;
      .custom-text-box__SVG {
        width: 100%;
      }
      .custom-text-box__Text {
        width: 100%;
      }
      h2 {
        margin-top: 1.5rem;
      }
      > div:first-child {
        max-width: 100% !important;
        > div {
          max-width: 100% !important;
        }
      }
    }
  }
  @media all and (max-width: 991px) {
    #landing-page__hero {
      max-width: 100%;
      padding: 0 15px;
    }
    #landing-page__heroButtons {
      flex-direction: column;
      > button, > a, > a > button {
        width: 100%;
      }
    }
    > section {
      > div {
        > h1 {
          font-size: 3rem !important;
          text-align: center !important;
          line-height: 1.2 !important;
        }
      }
    }
    #landing-page__home__h2 {
      font-size: 1.5rem;
    }
    #landing-page__contact {
      > .flex {
        display: block;
        .flex-1 {
          margin-top: 1.25rem;
        }
      }
      input, textarea {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
      }
    }
  }
}

.dashboard-guide {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid #efefef;
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  width: 450px;
  > section {
    position: relative;
    padding: 1rem;
    display: block;
    width: 100%;
    #dashboard-guide-left {
      position: absolute;
      top: 25px;
      left: -20px;
    }
    #dashboard-guide-right {
      position: absolute;
      top: 25px;
      right: -20px;
    }
    #dashboard-guide-close {
      position: absolute;
      cursor: pointer;
      top: -5px;
      right: 10px;
    }
    > h2 {
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    > p {
      font-size: 0.9rem;
      margin-top: 6px;
    }
    > div {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      > ul {
        margin-left: 0;
        margin-right: 15px;
        display: flex;
        align-items: center;
        li {
          span {
            display: block;
            width: 8px;
            height: 8px;
            background-color: #efefef;
            border-radius: 500rem;
            margin-right: 5px;
            &.active {
              background-color: #FF473E;
            }
          }
        }
      }
      > span {
        display: block;
        font-size: 13px;
        font-weight: 500;
        color: #333;
        margin-left: 0;
        margin-right: auto;
      }
      > button {
        margin-left: auto;
        margin-right: 0;
        padding: 5px 20px;
      }
    }
  }
  &#dashboard-guide-1 {
    top: 90px;
    left: 230px;
  }
  &#dashboard-guide-2 {
    top: 0px;
    left: -460px;
    #dashboard-guide-left {
      display: none;
    }
    #dashboard-guide-right {
      display: block;
    }
  }
  &#dashboard-guide-3 {
    top: 140px;
    left: 230px;
  }
  &#dashboard-guide-4 {
    top: 235px;
    left: 230px;
  }
  &#dashboard-guide-5 {
    top: 330px;
    left: 230px;
  }
  &#dashboard-guide-6 {
    top: 375px;
    left: 230px;
  }
  &#dashboard-guide-7 {
    top: 425px;
    left: 230px;
  }
  &#dashboard-guide-8 {
    top: 520px;
    left: 230px;
  }
  @media all and (max-width: 1535px) {
    &#dashboard-guide-1 {
      top: 70px;
    }
    &#dashboard-guide-2 {
      top: -5px;
    }
    &#dashboard-guide-3 {
      top: 110px;
    }
    &#dashboard-guide-4 {
      top: 190px;
    }
    &#dashboard-guide-5 {
      top: 265px;
    }
    &#dashboard-guide-6 {
      top: 300px;
    }
    &#dashboard-guide-7 {
      top: 340px;
    }
    &#dashboard-guide-8 {
      top: 415px;
    }
  }
  @media all and (max-width: 1280px) {
    &#dashboard-guide-1 {
      top: 67px;
    }
    &#dashboard-guide-2 {
      top: -10px;
      left: 170px;
      #dashboard-guide-left {
        display: block;
      }
      #dashboard-guide-right {
        display: none;
      }
    }
    &#dashboard-guide-3 {
      top: 102px;
    }
    &#dashboard-guide-4 {
      top: 175px;
    }
    &#dashboard-guide-5 {
      top: 250px;
    }
    &#dashboard-guide-6 {
      top: 283px;
    }
    &#dashboard-guide-7 {
      top: 320px;
    }
    &#dashboard-guide-8 {
      top: 390px;
    }
  }
  @media all and (max-width: 1023px) {
    &#dashboard-guide-1 {
      top: 90px;
    }
    &#dashboard-guide-2 {
      top: 0px;
    }
    &#dashboard-guide-3 {
      top: 135px;
    }
    &#dashboard-guide-4 {
      top: 233px;
    }
    &#dashboard-guide-5 {
      top: 330px;
    }
    &#dashboard-guide-6 {
      top: 380px;
    }
    &#dashboard-guide-7 {
      top: 425px;
    }
    &#dashboard-guide-8 {
      top: 520px;
    }
  }
  @media all and (max-width: 991px) {
    display: none;
  }
}
#dashboard-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  #dashboard-layoutSidebar {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    #dashboard-layoutSidebar__inner {
      width: 100%;
      height: 100vh;
      min-height: 700px;
      position: relative;
      display: flex;
      flex-direction: column;
      > p {
        margin-top: auto;
      }
      #dashboard-layoutSidebar__logo {
        display: flex;
        align-items: center;
        > svg {
          margin-left: 0;
        }
        > div {
          display: none;
          cursor: pointer;
          margin-left: auto;
          margin-right: 0;
        }
        @media all and (max-width: 991px) {
          > div {
            display: block;
          }
        }
      }
    }
    &.collapsed {
      width: 60px;
      #dashboard-layoutSidebar__inner {
        padding-left: 0.75rem !important;
        #dashboard-layoutSidebar__logo {
          > svg {
            display: none;
          }
          > div {
            margin-left: auto;
            margin-right: auto;
            transform: rotate(-180deg);
          }
        }
        > ul {
          li {
            a {
              justify-content: center;
              span.capitalize {
                display: none;
              }
            }
          }
        }
        > p, .sidebar-footer {
          display: none;
        }
      }
    }
  }
  #dashboard-layoutContent {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    overflow: hidden;
    position: relative;
    &.collapsedSidebar {
      padding-left: 60px;
    }
    #dashboard-layoutContent__header {
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: 'relative';
      z-index: 2;
    }
    #landing-page__dashboard {
      width: 100%;
      height: calc(100vh - 4.5rem);
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      .min-h-300px {
        min-height: 300px;
      }
    }
  }
  @media all and (max-width: 991px) {
    #dashboard-layoutContent {
      padding-left: 60px;
    }
  }
}