@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  outline: none;
}

.c-select {
  select:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  position: relative;
  .arrow {
    right: 1.25rem;
    top: 50%;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid black;
    transform: translateY(-50%);
  }
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

/* pretty radio */
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #1D1D1D;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#FF473E 0%, #FF473E 40%, transparent 50%, transparent);
}
label > input[type="radio"] + * {
  display: inline-block;
}

/* pretty radio square*/
label.radio-square > input[type="radio"] + *::before {
  content: "";
  display: none;
}
label.radio-square > input[type="radio"]:checked + *::before {
  background: radial-gradient(#FF473E 0%, #FF473E 40%, transparent 50%, transparent);
}
label.radio-square > input[type="radio"] + * {
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF473E; 
  border-radius: 15px;
  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF473E; 
  opacity: 0.7;
}

*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.off-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
.toggle-button {
  input:checked ~ .dot {
    transform: translateX(1.75rem);
    background-color: #FF473E;
  }
}

.bg-primary-highlight {
  --tw-bg-opacity: .2;
  background-color: rgba(255, 71, 62, var(--tw-bg-opacity));
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  min-width: 50px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C4C4BE;
  -webkit-transition: .4s;
  transition: .4s;
  &::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;
    &::before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: #FF473E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF473E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.emailer-item-section {
  margin-top: 60px;

  .emailer-item {
    margin-bottom: 30px;

    > div {
      display: flex;
      align-items: center;
    }
    p, textarea {
      display: block;
      width: 100%;
      resize: none;
      color: #000000;
      border: 1px solid #C4C4BE;
      padding: 28px 16px;
      margin-top: 6px;
    }
    .btn {
      margin-top: 15px;
    }
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-filter {
    background-color: rgba(0, 0, 0, .5);
  }
}

.linear {
  border-radius: 50%;
  background-color: #a60304;
  z-index: 0;
}
    
.container-landing {
  max-width: 60%;
  margin: 0 auto;
  @media all and (max-width: 767px) {
    max-width: calc(100% - 40px);
  }
}
.landing-page {
  background-image: linear-gradient(transparent, rgba(166, 3, 4, 0.6));
  background-size: 100% 70rem;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1281px) {
  html {
    font-size: 12.8px;
  }
}
@media (min-width: 1536px) {
  html {
    font-size: 16px;
  }
}

.animate__delay-6s {
  animation-delay: calc(0.6s);
}

.animate__delay-7s {
  animation-delay: calc(0.7s);
}

.animate__delay-8s {
  animation-delay: calc(0.8s);
}

.animate__delay-9s {
  animation-delay: calc(0.9s);
}

.animate__delay-10s {
  animation-delay: calc(1s);
}

.animate__fastest {
  animation-duration: 0.1s;
}

.remove-animation {
  animation-name: none !important;
}

.CircularProgressbar-path {
  stroke-width: 8;
}
.CircularProgressbar-trail {
  stroke-width: 2;
}
.CircularProgressbar-text {
  font-weight: 100;
}

.ck {
  .ck-editor {
    display: flex;
  }
  .ck-toolbar {
    background-color: #F0F0F0 !important;
    height: 5rem !important;
    padding: 0 3rem !important;
  }
  .ck-editor__editable {
    padding: 1.25rem !important;
    min-height: 7rem;
  }
  .ck-button {
    color: #9A9A9A !important;
  }
}

.ck-editor-reverse {
  .ck-editor {
    display: flex;
    flex-direction: column-reverse;
  }
  .ck-toolbar {
    border: 0;
  }
}

@media (max-width: 1024px) { 
  .ck-editor {
    display: flex;
    flex-direction: column-reverse;
  }
  .ck-toolbar {
    border: 0;
  }
}

.date-time-perks {
  @apply mt-2 rounded-none w-full border border-gray1 shadow-md;
}
.active-link {
  .line-hr {
    display: block;
  }
}

.padding-tracker { 
  @apply lg:-mr-card lg:pr-card-tracker;
}

.padding-tracker-member-perks { 
  @apply lg:-mr-16 lg:pr-card-tracker;
}


.membership {
  .metrics-card {
    .desc {
      @apply text-gray;
    }
    &-warning {
      @apply bg-primary text-white;
      .desc {
        @apply text-white;
      }
      .progress-bar-circle {
        .progress-tracker {
          @apply text-white;
        }
        .progress-tracking {
          @apply text-red;
        }
      }
    }
  }
}
.progress-bar {
  &-circle {
    .progress-tracker {
      @apply text-gray1;
    }
    .progress-tracking {
      @apply text-primary;
    }
  }
}
.nodes-table {
  .highlight {
    @apply lg:rounded-2xl lg:bg-primary text-white;
  }
  .fail-node {
    @apply text-primary font-normal;
  }
}

.admin-perks-page {
  .padding-tracker-member-perks {
    margin-right: -2rem;
    padding-right: 0;
  }
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}
