@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

/* pretty radio */
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #1D1D1D;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#FF473E 0%, #FF473E 40%, transparent 50%, transparent);
}
label > input[type="radio"] + * {
  display: inline-block;
}
.min-content-height {
  height: calc(100vh - 90px);
}


/* width */
::-webkit-scrollbar {
  width: 13px;
  height: 65px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF473E; 
  border-radius: 15px;
  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF473E; 
  opacity: 0.7;
}

*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
