.loginForm {
  width: 946px;
  height: 691px;
  background-image: url('/images/login_overlay.png');
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}